**/.DS_Store
/DB
.idea
App/greeny/ios/Runner.xcodeproj/project.pbxproj

Backend/.env
.vscode/

Backend/api/migrations/

App/greeny/pubspec.lock
App/greeny/linux/flutter/generated_plugin_registrant.cc
App/greeny/linux/flutter/generated_plugins.cmake
App/greeny/macos/Flutter/GeneratedPluginRegistrant.swift

