<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083622676199-rjuedlchg3sumeenod4km9h3esuov27j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083622676199-rjuedlchg3sumeenod4km9h3esuov27j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1083622676199-1ptjs07g3nacpa0k9shlnq8qvgbqvd5u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM4qahCYcux7-SKlY68eFJB_EVwaaNevw</string>
	<key>GCM_SENDER_ID</key>
	<string>1083622676199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greeny.greeny.greeny.greeny.greeny.greeny.greeny</string>
	<key>PROJECT_ID</key>
	<string>greeny-89bd0</string>
	<key>STORAGE_BUCKET</key>
	<string>greeny-89bd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083622676199:ios:270331bb7709dd50d9b442</string>
</dict>
</plist>