name: Pylint

on:
  push:
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install System Dependencies
        run: |
          sudo add-apt-repository -y ppa:ubuntugis/ppa
          sudo apt-get update
          sudo apt-get install -y gdal-bin libgdal-dev
          export CPLUS_INCLUDE_PATH=/usr/include/gdal
          export C_INCLUDE_PATH=/usr/include/gdal

      - name: Install GDAL Python Package
        run: |
          pip install --global-option=build_ext --global-option="-I/usr/include/gdal" GDAL==3.3.0

      - name: Install Python Dependencies
        working-directory: Backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install braintree mysqlclient apprise

      - name: Set up Django settings module
        run: echo "export DJANGO_SETTINGS_MODULE=greeny.settings" >> $GITHUB_ENV

      - name: Install Pylint
        run: |
          python -m pip install pylint
          python -m pip install pylint-django

      - name: Run Pylint
        run: pylint --load-plugins pylint_django --django-settings-module=greeny.settings --disable=missing-class-docstring,missing-function-docstring,missing-module-docstring,too-many-ancestors,no-member Backend/greeny

      - name: Run Pylint API
        run: pylint --load-plugins pylint_django --django-settings-module=greeny.settings --disable=missing-class-docstring,missing-function-docstring,missing-module-docstring,too-many-ancestors,no-member --ignore=migrations Backend/api
